---
import website from '$config/website';
import { VERTICAL_LINE_ENTITY } from '$constants/entities';

const { siteTitle, siteUrl } = website;

const { metadescription, slug, title } = Astro.props;
const pageTitle = `${siteTitle} ${VERTICAL_LINE_ENTITY} ${title}`;
const url = `${siteUrl}/${slug}`;
---

<head>
  <title>{pageTitle}</title>
  <meta name="description" content={metadescription} />
  <meta
    name="robots"
    content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
  />
  <link rel="canonical" href={url} />
</head>
